*.prj

/_xmsgs
/iseconfig
/isim

*.ini
*.gise
*.log
*.xmsgs
*.cmd
*.log
*.exe
*.html
*.prj
*.wdb
*.lso
*.stx
*.xst
*.sdbl
*.sdbx
*.lst
*.bgn
*.bit
*.bld
*.cmd_log
*.drc
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xwbt
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.txt
*.xml
*.xbcd
*.xsl
*.ipf
*.lock
*
